# macOS
.DS_Store

# Visual Studio Code
.vscode/
.run/

# IDEA
.idea
# Editor backup files
*~

# ENV
.env/custom.env

# Rust artifacts
bin/
target/

# Solidity artifacts
artifacts/
cache/
node_modules/

node_modules/*
cache

Makefile
