env_files = [
    { path = ".env/mainnet.env", profile = "mainnet" },
    { path = ".env/testnet.env", profile = "testnet" },
    { path = ".env/local.env", profile = "local" },
    { path = ".env/custom.env", profile = "custom" },
    { path = ".env/local.env", profile = "development" },
]

[config]
default_to_workspace = false
skip_core_tasks = true

[env]
CARGO = "cargo"
CONTRACT_CARGO_TARGET = "wasm32-unknown-unknown"
SWEEP_DAYS = 30

[tasks.sweep]
category = "Cleanup"
install_crate = "cargo-sweep"
command = "${CARGO}"
args = [
    "sweep",
    "--time",
    "${SWEEP_DAYS}",
]

[tasks.clean-cargo]
category = "Cleanup"
command = "${CARGO}"
args = ["clean"]

[tasks.clean-bin]
category = "Cleanup"
script = '''
rm -Rf bin
'''

[tasks.clean-flow]
category = "Cleanup"
dependencies = [
    "clean-cargo",
    "clean-bin",
]

[tasks.clean]
run_task = "clean-flow"

[tasks.fmt]
category = "Formatting"
command = "${CARGO}"
args = [
    "fmt",
    "--all",
]

[tasks.clippy]
category = "Check"
command = "${CARGO}"
args = [
    "clippy",
    "--all-features",
    "--",
    "-D",
    "warnings",
]

[tasks.check-fmt]
category = "Check"
command = "${CARGO}"
args = [
    "fmt",
    "--",
    "--check",
]

[tasks.check]
category = "Check"
dependencies = [
    "check-fmt",
    "clippy",
]

[tasks.post-contract-build-env]
category = "Tools"
script = '''
echo "Environment:"
echo "    CARGO_MAKE_PROFILE:   ${CARGO_MAKE_PROFILE}"
echo "    IS_PROD:              ${IS_PROD}"
echo "    CARGO_FEATURES:       ${CARGO_FEATURES}"
echo "    WASM_FILE:            ${WASM_FILE}"
echo "    TARGET_DIR:           ${TARGET_DIR}"
echo "    RUSTFLAGS:            ${RUSTFLAGS}"
echo "    Extra build args:     ${RELEASE} ${@}"
'''

[tasks.copy-contract-build]
category = "Post"
command = "cp"
args = [
    "target/wasm32-unknown-unknown/${TARGET_DIR}/aurora_eth_connector.wasm",
    "bin/${WASM_FILE}",
]

[tasks.make-bin-directory]
category = "Post"
command = "mkdir"
args = [
    "-p",
    "bin",
]

[tasks.build-contract]
category = "Build"
command = "${CARGO}"
args = [
    "build",
    "--target",
    "${CONTRACT_CARGO_TARGET}",
    "@@remove-empty(RELEASE)",
    "--no-default-features",
    "--features=${CARGO_FEATURES}",
    "-p",
    "aurora-eth-connector",
    "-Z",
    "avoid-dev-deps",
    "${@}",
]

[tasks.build-test]
condition = { profiles = ["mainnet", "testnet", "custom"] }
env = { "RUSTFLAGS" = "${RUSTC_FLAGS_BUILD}", "CARGO_FEATURES" = "${CARGO_FEATURES_BUILD_TEST}", "WASM_FILE" = "${WASM_FILE_TEST}", "RELEASE" = "--release", "TARGET_DIR" = "release" }
category = "Build"
run_task = "build-contract-flow"

[tasks.build-contract-flow]
category = "Build"
dependencies = [
    "build-contract",
    "make-bin-directory",
    "copy-contract-build",
    "post-contract-build-env",
]

[tasks.build]
condition = { profiles = ["mainnet", "testnet", "localnet", "development", "custom"] }
env = { "RUSTFLAGS" = "${RUSTC_FLAGS_BUILD}", "CARGO_FEATURES" = "${CARGO_FEATURES_BUILD}", "RELEASE" = "--release", "TARGET_DIR" = "release" }
category = "Build"
run_task = "build-contract-flow"

[tasks.build-migration]
condition = { profiles = ["mainnet", "testnet", "localnet", "development", "custom"] }
env = { "RUSTFLAGS" = "${RUSTC_FLAGS_BUILD}", "CARGO_FEATURES" = "${CARGO_FEATURES_BUILD_MIGRATION}", "RELEASE" = "--release", "TARGET_DIR" = "release" }
category = "Build"
run_task = "build-contract-flow"

[tasks.test-workspace]
condition = { profiles = ["mainnet", "testnet", "custom"] }
category = "Test"
command = "${CARGO}"
args = [
    "test",
        "test_migration",
    "--features",
    "${CARGO_FEATURES_TEST}",
    "--",
    "--nocapture"
]

[tasks.test-flow]
category = "Test"
dependencies = [
    "build-test",
    "test-workspace",
]

[tasks.test]
category = "Test"
run_task = "test-flow"

[tasks.default]
condition = { profiles = ["mainnet", "testnet", "localnet", "development", "custom"] }
run_task = "build"

[tasks.deploy]
condition = { profiles = ["mainnet", "testnet", "localnet", "development", "custom"] }
category = "Deploy"
script = "${NEAR_CLI} deploy --acount-id${NEAR_EVM_ACCOUNT} --wasm-file=bin/${WASM_FILE}"
