[package]
name = "aurora-eth-connector"
version = "0.2.0"
authors = ["Aurora Labs <hello@aurora.dev>", "Evgeny Ukhanov <evgeny@aurora.dev>"]
edition = "2021"
description = ""
documentation = ""
readme = true
homepage = "https://github.com/aurora-is-near/aurora-fungible-token"
repository = "https://github.com/aurora-is-near/aurora-fungible-token"
license = "CC0 1.0"
publish = false
autobenches = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
near-sdk = "4.1"
near-contract-standards = "4.1"
aurora-engine-types = { git = "https://github.com/aurora-is-near/aurora-engine.git", branch = "develop", default-features = false, features = ["impl-serde"] }
serde = "1"
serde_json = "1"
hex = "0.4.3"
rlp = "0.5.0"
byte-slice-cast = "1.0"
ethabi = { version = "17.1", default-features = false }

[dev-dependencies]
rand = "0.8.5"

[features]
log = []
integration-test = ["log"]
mainnet = ["log"]
testnet = ["log"]
migration = ["log"]
