[package]
name = "aurora-eth-connector-tests"
version = "0.3.0"
authors = ["Aurora Labs <hello@aurora.dev>", "Evgeny Ukhanov <evgeny@aurora.dev>"]
edition = "2021"
description = ""
documentation = ""
readme = true
homepage = "https://github.com/aurora-is-near/aurora-engine"
repository = "https://github.com/aurora-is-near/aurora-engine"
license = "CC0 1.0"
publish = false
autobenches = false

[dev-dependencies]
aurora-eth-connector = { path = "../eth-connector" }
aurora-engine-types = { git = "https://github.com/aurora-is-near/aurora-engine.git", branch = "develop", default-features = false, features = ["impl-serde"] }
anyhow = "1.0"
near-sdk = "4.0"
near-primitives = "0.5"
near-units = "0.2"
near-contract-standards = "4.1"
tokio = { version = "1.24", features = ["full"] }
workspaces = "0.7.0"
byte-slice-cast = "1.2"
hex = "0.4.3"
ethabi = "18.0"
rlp = { version = "0.5.0", default-features = false }
aurora-engine-migration-tool = { git = "https://github.com/aurora-is-near/aurora-engine-migration-tool.git" }

[features]
migration_tests = []
