---
on:
  push:
    branches:
      - master
      - develop
  pull_request:

name: Lints
jobs:
  fmt:
    name: Format
    runs-on: [self-hosted, light]
    steps:
      - name: Set rust version
        run: |
          rustup show
          rustup default stable
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Run cargo fmt
        run: cargo make check-fmt
  clippy:
    name: Clippy
    runs-on: [self-hosted, heavy]
    steps:
      - name: Set rust version
        run: |
          rustup show
          rustup default stable
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Run Contract cargo lint checker
        run: cargo make check
