---
on:
  push:
    branches:
      - master
      - develop
  pull_request:

name: Lints
jobs:
  fmt:
    name: Format
    runs-on: [self-hosted, light]
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Run cargo fmt
        run: cargo make check-fmt
  clippy:
    name: Clippy
    runs-on: [self-hosted, heavy]
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Run Contract cargo lint checker
        run: cargo make check
  builds:
    name: Builds
    runs-on: [self-hosted, heavy]
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2
      - name: Run contract build
        run: cargo make --profile=mainnet build
      - name: Run contract build migration
        run: cargo make --profile=mainnet build-migration
